*.so
*.so.*
*~
*.o
*.lo
*.a
*.la
stamp-h1
*.scan
*.log
*.status
.deps
autom4te.cache
config.h
Makefile
.libs
test
test.c
Makefile.in
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
